// Place all the styles related to the Utilisateurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inscription{
	margin: 1rem 1rem 1rem 1rem;

	.field{
		margin-top: 1rem;
	}

	.actions{
		margin-top: 1rem;

		input{
			background:none;
			background-color: #B90504;
  			border:none;
  			padding: 1rem 2rem;
  			color: white;

  			&:hover{
  				background-color: #990100;
  			}
		}
	}
}